@keyframes move {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes progress_bar_fill {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 40px 0;
  }
}
.customProgress {
  position: relative;
  height: fit-content;
  border-radius: 10px;
  :global(.ant-progress-bg) {
    background-color: #679210 !important;
    animation: progress_bar_fill 2s linear infinite;
    background-image: linear-gradient(
      50deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    ) !important;
    background-size: 40px 40px !important;
    border-radius: 10px;
  }

  :global(.ant-progress-outer) {
    border-radius: 10px;
    background-color: #f0f0f0;
  }
}
